.summary-charts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;

  /* justify-content: space-between; */
}

.chart-row-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.chart-card-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 392px;
  flex: 1 1 392px;
  height: 341px;
  padding: 11px;
  border-radius: 12px;
  border: 1px solid #cdcdcd;
  box-shadow: 0px 4px 4px 0px #0000000F;
}

.chart-title {
  /* font-family: Montserrat; */
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  margin: 0 auto;
  text-align: center;
  display: block;
  padding-bottom: 22px;
}

.bar-chart-gradient-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 0;
}

.chart-container {
  position: relative;
  overflow: visible;
}

.chart-container .recharts-cartesian-grid {
  background: #000;
}

.more-details-button {
  width: 110px;
  height: 34px;
  margin: 22px auto 0;
  border-radius: 4px;
  border: 1px solid #F96302;
  color: #F96302;
  font-size: 13px;
  font-weight: 600;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .summary-charts-container {
    flex-wrap: wrap;
  }

  .chart-card-wrapper {
    flex: none;
  }
}

@media (max-width: 600px) {
  .chart-card-wrapper {
    flex: 1 1 100%;
  }
}
